<template>
  <AppLayout>
    <template v-if="this.route().current() == 'editusers'" #header>
      <h2 class="font-semibold text-xl text-gray-800 leading-tight">
        Editar Usuarios
      </h2>
    </template>

    <div class="flex flex-col justify-center h-full sm:p-10 lg:p-11">
      <div
        :class="
          `bg-white height-content ` +
          (seeFormRead || seeFormUpdate ? ' p-8 pb-0 ' : `p-8`) +
          ` rounded-md w-full`
        "
      >
        <div
          :class="
            `flex items-center pb-6 ` +
            (seeFormRead || seeFormUpdate
              ? 'justify-center text-center'
              : 'justify-between')
          "
        >
          <div>
            <h2 class="text-gray-600 font-semibold">Usuarios</h2>
            <span class="text-xs">
              {{ seeFormRead ? "Ver" : seeFormUpdate ? "Actualizar" : "" }}
              Información Extra</span
            >
          </div>
          <div class="flex items-center justify-between">
            <div
              v-if="!(seeFormRead | seeFormUpdate)"
              class="flex bg-gray-50 items-center p-2 rounded-md"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5 text-gray-400"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                  clip-rule="evenodd"
                />
              </svg>
              <input
                class="bg-gray-50 outline-none shadow-none ml-1 block no-line"
                type="text"
                name=""
                id="input-search"
                placeholder="search..."
                v-model="filterTable"
              />
            </div>
          </div>
        </div>
        <div
          :class="
            `px-4 sm:px-8 ` +
            (!(seeFormRead || seeFormUpdate) ? 'scroll-table' : '')
          "
        >
          <div class="-mx-4 sm:-mx-8 py-4">
            <FormGeneral
              v-if="seeFormRead || seeFormUpdate"
              v-model:seeFormRead="seeFormRead"
              v-model:seeFormUpdate="seeFormUpdate"
              :formInfo="infoModel.form"
              :actionSubmit="editData"
              :dataToEdit="dataToEdit"
              :idEditRegister="this.route().params.id"
            />
            <div
              v-if="!(seeFormRead | seeFormUpdate)"
              class="inline-block min-w-full shadow rounded-lg overflow-hidden"
            >
              <table class="min-w-full leading-normal">
                <thead>
                  <tr>
                    <th
                      v-for="(v, i) in infoModel.columns"
                      :key="i"
                      class="
                        text-center
                        px-5
                        py-3
                        border-b-2 
                        border-gray-200
                        bg-gray-100
                        text-left text-xs
                        font-semibold
                        text-gray-600
                        uppercase
                        tracking-wider
                      "
                    >
                      {{ v.label }}
                    </th>
                    <th
                      class="
                        text-center
                        px-5
                        py-3
                        border-b-2 border-gray-200
                        bg-gray-100
                        text-left text-xs
                        font-semibold
                        text-gray-600
                        uppercase
                        tracking-wider
                      "
                    >
                      Acciones
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(v, i) in usersFiltered" :key="i">
                    <td
                      v-for="(v2, i2) in infoModel.columns"
                      :key="i2"
                      class="
                        px-5
                        py-5
                        border-b border-gray-200
                        bg-white
                        text-sm text-center
                      "
                    >
                      {{ v[v2.field] }}
                    </td>
                    <td
                      class="
                        px-5
                        py-6
                        flex
                        items-center
                        border-b border-gray-200
                        bg-white
                        text-sm
                        justify-center
                      "
                    >
                      <Link
                        :href="route('editusers.read', v.id)"
                        :active="route().current('editusers')"
                      >
                        <button
                          class="
                            bg-indigo-600
                            px-4
                            py-2
                            rounded-md
                            text-white
                            font-semibold
                            tracking-wide
                            cursor-pointer
                            hover:bg-indigo-700
                            active:bg-indigo-900
                            transition
                          "
                        >
                          Ver
                        </button>
                      </Link>
                      <Link
                        :href="route('editusers.update', v.id)"
                        :active="route().current('editusers')"
                      >
                        <button
                          class="
                            ml-2
                            bg-indigo-600
                            px-4
                            py-2
                            rounded-md
                            text-white
                            font-semibold
                            tracking-wide
                            cursor-pointer
                            hover:bg-indigo-700
                            active:bg-indigo-900
                            transition
                          "
                        >
                          Editar
                        </button>
                      </Link>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </AppLayout>
</template>

<script>
import { defineComponent } from "vue";
import AppLayout from "@/Layouts/AppLayout.vue";
import FormGeneral from "@/Components/FormGeneral.vue";
import {  Link } from '@inertiajs/inertia-vue3';
export default defineComponent({
    props:{
        users:Object,
        describeTable:Object,        
        userInfoFk:Array},
    components: {
        Link,
        AppLayout,
        FormGeneral,
    },
    mounted(){     
      this.loadDataModule();        
    },
    created(){      
      this.loadDataModule();   
    },
    updated(){'epaaa'},
    data() {
        return {
            
            /**
             * Set columns to edit in fields
             */
            usedFormFields:{'name':'Nombre','email':'Correo',
              'date_birth':'Fecha De Nacimiento', 'name_emergency_contact'
              :'Nombre de Contacto para Emergencia',
              'phone_emergency_contact':'Número de Contacto para Emergencia',
              'race':'Raza','residence_address':'Dirección de residencia',
              'department_id':'Departamento','municipalities_id':'Municipio',
              'childrens_information':'Información de los Hijos'},
            /**
             * Set columns show in table
             */  
            usedColumns:{'name':'Nombre','email':'Correo',
              'date_birth':'Fecha De Nacimiento', 
              'created_at':'Fecha Creación',
              'updated_at':'Ultima Actualización'},
            /**
             * Set data for selects no available in database
             */  
            customSelect:{race:[{id:"Mestizo",name:"Mestizo"},
              {id:"Blanco",name:"Blanco"},
              {id:"Afro",name:"Afro"},
              {id:"Indígena",name:"Indígena"},
              {id:"Otro",name:"Otro"},
              ]
            },
            filterTable: "",
            dataToEdit:{},           
        };
    },
    methods:{
      /**
       * Convert types to form types based in db types
       */
        getType(str){
            return ((f,sb)=>f(sb,'varchar')?'text':
            sb==='date'?'date': f(sb,'int')?'number':
            sb==='timestamp'?'date':sb==='json'?sb:'')
            ((s,f)=>s.includes(f),str)
        },
      /**
       * Prepare current data to edit and add only fields allowed to edit
       */
         organizeDataToEdit(row){           
          this.dataToEdit = Object.keys(this.usedFormFields).reduce((vb,va)=>{
              return {...vb,[va]: row[va]}
          },{})         
        },
        /**
         * Start load data 
         */
        loadDataModule(){          
          this.seeFormRead || this.seeFormUpdate?
            this.organizeDataToEdit(
              this.users.find((v)=>v.id.toString()===this.route().params.id)):false;    
        },
        /**
         * Send request to edit in controller
         */
        editData(id,data){
          this.$inertia.put(this.route('user.update',id),data,{preserveScroll:true,preserveState:false})          
        }
    },
    computed:{
      /**
       * Prepare form and table information
       * @return Object {columns:[], form:[]}
       */
        infoModel(){
           return  this.describeTable.reduce((vb,va)=>{
               return  {...vb,...{
                 //Columns part
                columns:this.usedColumns[va.Field]?vb.columns.concat([{field:va.Field, 
                  type:this.getType(va.Type), 
                  label:this.usedColumns[va.Field]}]):vb.columns,
                //Form part
                form:this.usedFormFields[va.Field]? 
                  vb.form.concat([{field:va.Field,
                  type:(((f,s,v1,v2)=>f(s,v1) || f(s,v2))
                  (((s,f)=>s.includes(f)),va.Field,'_id','id_')) ||this.customSelect[va.Field]?'select':
                  va.Field.includes('email')?'email':this.getType(va.Type), 
                  label:this.usedFormFields[va.Field],
                  parent:((v)=>v?v[va.Field]['colFk'][0]:false)(this.userInfoFk.find((v)=>
                    Object.keys(v).includes(va.Field))),
                  childs:this.userInfoFk.filter((v)=>Object.values(v)[0]['colFk'].includes(va.Field))
                    .map((vM)=>Object.keys(vM)[0]),
                  selectInfo:((v)=>v?v[va.Field]['data']:this.customSelect[va.Field]) 
                  (this.userInfoFk.find((v)=>Object.keys(v).includes(va.Field) ))
                }]):vb.form}}
               
            },{columns:[],form:[]})
        },
       /**
        * Return users filtered with input
        */
       usersFiltered(){
         return this.users.filter((v)=>
            this.infoModel.columns.reduce((vb,va)=>v[va.field]?((inc,vb2)=>(inc?inc:vb2))
            (v[va.field].includes(this.filterTable),vb):vb,false))
       },
       /**
        * Detect if is on read route
        */
        seeFormRead(){
          return this.route().current() =='editusers.read' 
        },
        /**
         * Detect if is on update route
         */
        seeFormUpdate(){
          console.log(this.route().current() ==='editusers.update','ja');
          return this.route().current() ==='editusers.update' 
        }
       
    }
});
</script>

<style>
#input-search {
  border: none;
  outline-color: transparent !important;
}
#input-search:active {
  outline-color: transparent;
}
</style>
