@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
.no-line{
  outline: none;
  box-shadow: none !important;
}
.height-content-{
  overflow: hidden;
  min-height: calc(100vh - 229px);
  
}
.scroll-table{
  max-height: calc(100vh - 372px);
  min-height: calc(100vh - 372px);
  overflow: auto;
}
.form-height{
  overflow: auto;
  max-height: calc(100vh - 337px);
}
.custom-bg-green-600{
    background-color: rgb(22 163 74);
  }
  .custom-bg-blue-600{
    background-color: rgb(37 99 235);
  }
  .custom-bg-red-600{
    background-color: rgb(220 38 38);
  }
  .custom-bg-gray-600{
    background-color: rgb(75 85 99);
  }
  .read-input-style{
    border: none;
    box-shadow: none;
    margin-left: 0px;
    /* padding-left: 0px; */
    appearance: none;
    background-image: none;
  }
  .read-input-style[type='date']{
    position: relative;
    left: 5px;
  }
  .read-select-correction{   
    padding-right: 0;
    padding-left: 0;
    position: relative;
  }