<template >
  <button
    @click="click"
    :class="`custom-bg-${color}-600 focus:ring focus:ring-${color}-300 focus:border-${color}-800 active:bg-${color}-900 hover:bg-${color}-700 ml-2 text-xs px-4 py-2 uppercase rounded-md font-semibold  text-white transition  `"
    :type="type?type:'button'"
  >
    <div class="flex justify-center items-center">
      <slot name="leftComponent"></slot>
      <div v-if="label" class="mx-3">{{ label }}</div>
      <slot name="rightComponent"></slot>
    </div>
  </button>
</template>

<script>
import { defineComponent } from "vue";

export default defineComponent({
    props: {
        click: Function,
        label: String,
        color: String,
        type:String,
        leftComponent: Object,
        rightComponent: Object
    },
  
   
});
</script>

<style>
</style>
