<template>
  <div>
    <div
      v-for="(v, i) in items"
      :key="i"
      :class="
        `flex flex-wrap -mx-3  ` +
        (i === items.length - 1 && readonly ? '' : 'mb-6') +
        (readonly ? ' border-b' : '')
      "
    >
      <!-- <form action=""></form> -->
      <div
        v-for="(v2, i2) in fields"
        :key="i2"
        :class="
          `w-full md:w-1/2 px-3 ` +
          (i === items.length - 1 && readonly ? '' : 'mb-6')
        "
      >
        <label
          :class="
            `block font-medium text-sm text-gray-700 ` +
            (readonly ? 'flex justify-center' : 'block')
          "
          for="name"
          ><span>{{ v2.label }}:</span></label
        >
        <input
          :class="
            `
                      border-gray-300
            focus:border-indigo-300
            focus:ring
            focus:ring-indigo-200
            focus:ring-opacity-50
            rounded-md
            shadow-sm
            mt-1
            block
            w-full
          ` +
            (readonly ? 'read-input-style' : '') +
            (readonly ? ' text-center' : '')
          "
          :disabled="readonly"
          @input="setDataUpdated"
          v-model="items[i][v2.id]"
          required
          id="name"
          :type="v2.type"
          autocomplete="name"
        />
      </div>
      <div class="w-full flex justify-center">
        <ButtonCustom
          v-if="items.length > 1 && !readonly"
          :click="() => deleteInput(i)"
          label="Borrar"
          color="red"
        >
          <template v-slot:leftComponent>
            <TrashIcon class="text-white" style="width: 11px" />
          </template>
        </ButtonCustom>
      </div>
    </div>
    <div align="center">
      <ButtonCustom
        :click="addInputs"
        v-if="!readonly"
        label="Agregar"
        color="blue"
      />
    </div>
  </div>
</template>

<script>
import { defineComponent } from "vue";
import ButtonCustom from "@/Components/ButtonCustom.vue";
import TrashIcon from "@/Components/iconComponents/Trash.vue"
import { eventBus } from "@/Utils/reusableFunctions.js";
export default defineComponent({
    components: { ButtonCustom, TrashIcon },
    props: { fields: Array,  field:String, jsonToLoad:Array |String | Object,readonly: Boolean | String },
    /**
     * Load current data to edit or to read
     * Add First item for Dynamic Form
     */
    mounted(){             
        this.items =    this.jsonToLoad?(typeof this.jsonToLoad ==='string')?
                            JSON.parse(this.jsonToLoad):this.jsonToLoad:[];      
        this.items.length===0?this.addInputs():false;                      
    },
    data() {
        return {
            items: [],
        };
    },
    methods:{
      /**
       * Add fields
       */
      addInputs(){
        this.items.push({...{},...this.listFields})
        eventBus.dispatch('updatedDinamicForm',{field:this.field,data:this.items})
      },
      /**
       * Update data on parent component
       */
      setDataUpdated(){       
        eventBus.dispatch('updatedDinamicForm',{field:this.field,data:this.items})
      },
      /**
       * Delete Item for dynamic form
       */
      deleteInput(i){
        this.items.splice(i,1);
        eventBus.dispatch('updatedDinamicForm',{field:this.field,data:this.items})
      }
    },
    computed:{
      /**
       * Organize fields for new item
       */
        listFields(){
            return this.fields.reduce((vb,va)=>{
           return {...vb,...{[va.id]:''}}  
        },{});
        }
    },
 
  
});
</script>

<style></style>
