<template>
  <div>
    <form @submit.prevent="actionSubmit(idEditRegister, formData)">
      <div class="flex flex-wrap -mx-3 mb-4 form-height">
        <div
          v-for="(v, i) in formInfo"
          :key="i"
          :class="
            'w-full ' +
            (['text', 'number', 'date', 'select', 'email'].includes(v.type)
              ? 'md:w-1/2 lg:w-1/3 xl:w-1/4'
              : '') +
            ' px-3 mb-6'
          "
        >
          <label
            v-if="
              ['text', 'number', 'date', 'select', 'email'].includes(v.type)
            "
            :class="
              ` font-medium text-sm text-gray-700 ` +
              (seeFormRead ? 'flex justify-center text-center' : 'block')
            "
            :for="v.field"
            ><span>{{ v.label }}:</span></label
          >

          <input
            :class="
              `
              border-gray-300
              focus:border-indigo-300
              focus:ring
              focus:ring-indigo-200
              focus:ring-opacity-50
              rounded-md
              shadow-sm
              mt-1
              block
              w-full ` +
              (seeFormRead ? 'read-input-style' : '') +
              (seeFormRead ? ' text-center' : '')
            "
            v-if="['text', 'number', 'date', 'email'].includes(v.type)"
            :disabled="seeFormRead"
            :id="v.field"
            :name="v.field"
            :type="v.type"
            v-model="formData[v.field]"
            required
            autocomplete="name"
          />

          <select
            v-if="v.type == 'select'"
            required
            :disabled="seeFormRead"
            :class="
              `border-gray-300 
              focus:border-indigo-300
              focus:ring
              focus:ring-indigo-200
              focus:ring-opacity-50
              rounded-md
              shadow-sm
              mt-1
              w-full ` +
              (seeFormRead ? 'read-input-style read-select-correction' : '') +
              (seeFormRead ? ' text-center' : '')
            "
            :name="v.field"
            :id="v.field"
            v-model="formData[v.field]"
          >
            <option disabled selected value>Seleccione {{ v.label }}</option>
            <option
              v-for="(vS, i2) in v.parent
                ? filterByParent(v.parent, v.selectInfo)
                : v.selectInfo"
              :key="i2"
              :value="vS.id"
            >
              {{ vS.name }}
            </option>
          </select>
          <label
            v-if="v.type === 'json'"
            :class="
              `w-full  font-medium text-sm text-gray-700 mb-3 ` +
              (seeFormRead ? 'flex justify-center' : 'block')
            "
            :for="v.field"
            ><span>{{ v.label }}</span></label
          >

          <div
            v-if="v.type === 'json'"
            :class="
              `w-full px-5 py-5  rounded-md  ` + (seeFormUpdate ? 'border' : '')
            "
          >
            <DinamicForm
              :readonly="seeFormRead"
              class="w-full px-1"
              :index="i"
              :field="v.field"
              :jsonToLoad="formData[v.field]"
              :fields="[
                { label: 'Nombre', id: 'name', type: 'text' },
                {
                  label: 'Fecha de nacimiento',
                  id: 'birthday_date',
                  type: 'date',
                },
              ]"
            />
          </div>
        </div>
      </div>
      <div class="w-full" align="right">
        <ButtonCustom
          type="submit"
          v-if="!seeFormRead"
          label="Aceptar"
          color="green"
        />
        <Link :href="route('editusers')" :active="route().current('editusers')">
          <ButtonCustom label="Cancelar" color="gray" />
        </Link>
      </div>
    </form>
  </div>
</template>
<script>
import { defineComponent } from "vue";
import ButtonCustom from "@/Components/ButtonCustom.vue";
import DinamicForm from "@/Components/DinamicForm.vue";
import { eventBus } from "@/Utils/reusableFunctions.js";
import {  Link } from '@inertiajs/inertia-vue3';
export default defineComponent({
    components: {Link, ButtonCustom, DinamicForm },
    props: {
        dataToEdit: Object,
        seeFormRead: Boolean,
        seeFormUpdate: Boolean,
        formInfo:Array,
        idEditRegister:String | Number,
        actionSubmit:Function
    },
    /**
     * Creates fields structure for data
     * Create event to comunication with DYnamic form
     * Load Current Data
     * Reassign fields to avoid null values
     */
    created(){
     
      eventBus.on('updatedDinamicForm',({field,data})=>{
        console.log(data, 'here');
        this.formData[field] = data;
      })      
      this.formData = {...this.dataToEdit};
       this.formInfo.forEach((v)=>(
         ((fDF,fT,fD)=>!fDF?(fT==='json'  ?           
          fD[v.field]=[]:fD[v.field]=''):
          fT==='json' && (typeof fDF)==='string'?
            fD[v.field]=JSON.parse(fDF):''
          )(this.formData[v.field],v.type,this.formData)
         
          )
        )
    },
    data(){
      return{
        formData:{},
      }
    },
    methods:{
      filterByParent( parent,dataField){        
          return JSON.parse(JSON.stringify(dataField))
            .filter((v)=>v[parent]===this.formData[parent])
      }
    }
});
</script>

<style>
#input1:focus {
  outline: none !important;
}
</style>
